@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  :root {
    --color-primary: #2563EB;
    --color-background-light: #F9FAFB;
    --color-background-dark: #1F2937;
    --color-text-light: #111827;
    --color-text-dark: #F3F4F6;
  }

  .dark {
    --color-background-light: #1F2937;
    --color-background-dark: #F9FAFB;
    --color-text-light: #F3F4F6;
    --color-text-dark: #111827;
  }
}

